"""{{ controller_name.capitalize().replace('_', ' ') }} controller implementation."""
import logging

from fastapi import APIRouter


router = APIRouter(
    prefix="/{{ controller_name }}"
)
log = logging.getLogger(__name__)
{%- for endpoint, method in endpoints.items() %}


@router.{{ method.lower() }}(
    "/{{ endpoint.lower().replace('-','_') }}",
    status_code=200,
    # Decorator options:
    # https://fastapi.tiangolo.com/tutorial/path-operation-configuration/
)
async def {{ endpoint.lower().replace('-','_') }}():
    # Implement endpoint logic here.
    return {"hello": "world"}


{%- endfor %}
{%- raw %}

{% endraw %}
